<!DOCTYPE html>
<html>
  <head>
    <title>RailsFoodProducts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <header class='clearfix'>
          <div class="left-nav">
            <ul>
              <li> <%= link_to "Home", root_path %></li>
            </ul>
          </div>
          <div class="right-nav">
            <ul>
              <li> <%= link_to "Add Product", new_product_path %></li>
            </ul>
          </div>
        </header>  
        <div class="content">
            <%= yield %>
        </div>
      </div>
  </body>
</html>
